<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Input mask demo
  </h1>
</div>
<mask-example mask="dd.mm.yyyy"></mask-example>
<input id="test1" yn-mask="mm/dd/yyyy" placeholder="mm/dd/yyyy" type="text" [(ngModel)]="testValue1" /><br />
<input id="test1" yn-mask="HH:mi" placeholder="hh:mi" type="text" [(ngModel)]="testValue2" /><br />
<input id="test2" yn-mask="+7 NNN NNN-NN-NN" placeholder="+7 XXX XXX-XX-XX" type="text" [(ngModel)]="testValue3" /><br />
<input id="test3" yn-mask="dd mmm yyyy" placeholder="dd mmm yyyy" type="text" [(ngModel)]="testValue4" /><br />
<input id="test4" yn-mask="h:mi tt" placeholder="h:mm am/pm" type="text" [(ngModel)]="testValue5" /><br />
<input id="test5" yn-mask="b.b.b.b" [yn-mask-options]="ip_options" placeholder=" . . . " type="text" [(ngModel)]="testValue6" /><br />
<input id="test6" yn-mask="NNNN NNNN NNNN NNNN" placeholder="" type="text" [(ngModel)]="testValue7" />
