$axInputPadding: 0.4em 0.25em; // 0.2em;
$axInputBtnWidth: 2.0em;

$border-color: #dedede;
$accent-color: #ea6b0c;
$error-color: #d9534f;
$selection-color: #b6e2fc;

.logo {
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/y_logo3.svg");
}

.footer {
  border-top: 1px dashed #aaa;
  font-size: 0.75em;
  padding: 1em 0;
}

.options {
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
  padding: 1em 0;
  margin-bottom: 1.5em;
  font-size: 0.75em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.options > div {
  display: inline-block;
}

/* Customize the label (the container) */
.yn-cb {
  display: block;
  position: relative;
  padding-left: 2.0em;
  //margin-bottom: 12px;
  cursor: pointer;
  //font-size: 22px;
}

/* Hide the browser's default checkbox */
.yn-cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -0.05em;
  left: 0;
  height: 1.4em;
  width: 1.4em;
  border: 1px solid #ccc;
  background-color: #fff; //#eee;
}

/* On mouse-over, add a grey background color */
.yn-cb:hover input ~ .checkmark {
  background-color: #fafafa;
}

/* When the checkbox is checked, add a blue background */
.yn-cb input:focus ~ .checkmark {
  border-color: $accent-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.yn-cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.yn-cb .checkmark:after {
  left: 0.45em;
  top: 0.15em;
  width: 0.35em;
  height: 0.7em;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/deep/ input, select {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding: $axInputPadding;
  border: 1px solid $border-color;
  outline: 0;
}

/deep/ input:focus, select:focus {
  border-color: $accent-color;
  outline: none;
}

/deep/ input.yn-btn {
  padding: $axInputPadding $axInputBtnWidth $axInputPadding $axInputPadding;
  margin-right: 0;
}

/deep/ ::selection {
  background: $selection-color;
  text-shadow: none;
}

/deep/ ::placeholder {
  color: #aaa;
}

h1 {
  // border-radius: 50px;
  // background-color: rgba(255,255,155,0.5);
  margin-top: -36px;
  margin-left: 170px;
  color: #555;
  font-size: 1.4em;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 650px;
}
