<div class="wrapper">
  <div class="logo"></div>
  <h1>{{title}}</h1>
  <!-- OPTIONS -->
  <div class="options">
    <div>
      <label class="yn-cb">Append placeholders
        <input type="checkbox" [(ngModel)]="appendPlaceholders" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <label class="yn-cb">Replace mode
        <input type="checkbox" [(ngModel)]="replaceMode" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <label for="placeholderSel">Placeholder</label>
      <select id="placeholderSel" [(ngModel)]="placeholder">
        <option value="_">Underscore [_]</option>
        <option [value]="whiteSpace">White space [ ]</option>
      </select>
    </div>
    <div>
      <label for="localeSel">Locale</label>
      <select id="localeSel" [(ngModel)]="intl.currentLocale">
        <option *ngFor="let locale of intl.locales" [value]="locale.shortName">{{locale.name}}&nbsp;({{locale.shortName}})</option>
      </select>
    </div>
  </div>
  <!-- EXAMPLES -->
  <form-field caption="Simple date"><date-example example-field></date-example></form-field>
  <form-field caption="Date"><date2-example example-field></date2-example></form-field>
  <form-field caption="Time 24 hours"><time-example example-field></time-example></form-field>
  <form-field caption="Time 12 hours"><time12-example example-field></time12-example></form-field>
  <form-field caption="Phone"><phone-example example-field></phone-example></form-field>
  <form-field caption="IP"><ip-example example-field></ip-example></form-field>
  <form-field caption="Credit card"><credit-card-example example-field></credit-card-example></form-field>
  <form-field caption="Canadian postal code"><canadian-postal-code-example example-field></canadian-postal-code-example></form-field>
  <form-field caption="Number"><number-example example-field></number-example></form-field>
  <form-field caption="Currency"><currency-example example-field></currency-example></form-field>
  <!-- FOOTER -->
  <div class="footer">
    <a href="https://github.com/m-alx/yopsilon-mask" target="_blank">GitHub</a>
  </div>
</div>
